.dashboardProfil {
  &__container {
    color: #333333;
    margin-top: 75px;
    background-color: white;
    min-height: 65vh;
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    flex-direction: column;
    h1 {
      font-size: 50px;
      font-weight: 300;
    }
    p {
      font-size: 26px;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    min-width: 60%;
    min-height: 40vh;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
  }
}
